# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://hirestack_user:xBlCqEyhl0vQdUjy@cluster0.xxfx5gw.mongodb.net/hirestack?retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_SECRET=16a1242899f7ccf5b6a363f8c855241b89ff90172b751dae51298e710e9d79e5
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_DAYS=7

# Client
CLIENT_URL=http://localhost:5173

# File Upload
MAX_RESUME_SIZE_MB=5

# Future Nodemailer integration (email-ready architecture)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=noreply@hirestack.com
